/* ========================================================================
 * TABLES SAMPLES
 * ======================================================================== */
.cbp-l-grid-tabs .cbp-item {
  max-width: inherit !important;
  font: inherit !important;
}
.cbp img {
  width: inherit !important;
  margin: 0;
  display: inherit !important;
}
